h1.mb-4 = @question.title

small 
  time datetime = @question.formatted_created_at
    =@question.formatted_created_at

p.lead.my-3 = @question.body 

= link_to "Show", question_path(@question), class: "btn btn-primary"
= link_to "Edit", edit_question_path(@question), class: "btn btn-secondary mx-1"
= link_to "Delete", question_path(@question), data: {turbo_method: :delete, confirm: true}, class: "btn btn-danger"

hr.my-3

h2 Write your answer

= render "shared/errors", object: @answer
        
= form_with model: [@question, @answer], data: {turbo: false} do |f| 
  .mb-3.row 
    .col-sm-2.col-form-label
      = f.label :body
    .col-sm-10 
      = f.text_area :body, required: true, minlength: 2, placeholder: "Body", class: "form-control"

  = f.submit "Submit answer", class: "btn btn-primary"